* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #e1e1e1;
  --primary-color: #00c8ff;
  --secondary-color: #9aa8ac;
  --accent-color: #ff6f61;
}

h5,
h6 {
  letter-spacing: 0.3em;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  color: var(--primary-color);
  background-color: var(--bg-color);
}

header {
  padding: 20px;
  text-align: center;
}

main {
  min-width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bodyCalculator {
  width: 90dvw;
  max-width: 400px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  border: 1px solid var(--bg-color);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.1);
}

.bodyCalculator #screen {
  background-color: #fff;
  width: 100%;
  min-height: 3rem;
  border: none;
  border-radius: 0.3rem;
  color: var(--primary-color);
  text-align: right;
  font-size: 1.5rem;
}

.bodyCalculator .containerButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  gap: 0.2rem;
}

.bodyCalculator .containerButtons .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.2rem;
}

.bodyCalculator .containerButtons .row .buttonClass {
  flex: 1;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--secondary-color);
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
}

.bodyCalculator .containerButtons .row .action {
  background-color: var(--accent-color);
}

.bodyCalculator .containerButtons .row .function {
  background-color: var(--primary-color);
}

footer {
  text-align: center;
  padding: 5px;
}

@media screen and (width >= 700px) {
  h5,
  h6 {
    font-size: 1.2rem;
  }
}
